[Unit]
Description=Hodor Slacker
After=network.target

[Service]
ExecStart=/bin/bash {{ runhodor_install_dir }}/run_hodor_slacker.sh
WorkingDirectory={{ slacker_run_dir }}
StandardOutput=inherit
StandardError=inherit
Restart=always
User=pi

[Install]
WantedBy=multi-user.target
